*{
    margin: 0;
    padding: 0;
}
.name h1{
    margin: 0;
    padding: 0;
    top: 0;
    color: red;
    font-style: italic;
   display: inline-flex;
   justify-content: space-around;
   
}

.section img{
    width: 100%;
    height: 100%;
    bottom: 0;
    mask-image: linear-gradient(to right, transparent, #000000 100%);
    -webkit-mask-image:linear-gradient(to right, transparent, black 100%);
  
}
.name select{
    position: absolute;
    left: 83%;
    width: 80px;
    height: 25px;
    font-style: italic;
    margin-top: 8px;
   border: 1px solid rgb(105, 105, 105);
   font-weight: 600;
    
}
.name button{
    position: absolute;
    left: 91%;
    width: 80px;
    font-style: italic;
    margin-top: 8px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    background-color: red;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.name span{
    color: white;
}
.conten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 210px;
    gap: 36px;
    left: 350px;
    background: transparent;
    align-items: center;
    font-style:inherit;
    
}
.conten h1{
    background: transparent;
    font-weight: 600;
}
.conten p{
    background: transparent;
    font-weight: 800;
}
.conten input{
    width: 380px;
    height: 35px;
    border:2px solid black;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    right: 90px;
    background:  rgba(10, 4, 4, 0.377);
   
}
.button{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    background-color: red;
    border: none;
    font-size: 16px;
    font-style:italic;
    font-weight:700;
    position: absolute;
    left: 450px;
    bottom: 1px;
    cursor: pointer;
}
.ico{
    width: 18px;
    height: 14px;
    background: none;
   margin-left: 16px;
   
}

@media screen and (max-width:600px) {
    .name{
        font-size:13px;
    }
    .name select {
        position: absolute;
        margin-right: 20px;
        left: 60%;
        cursor: pointer;
    }
    .name button {
        position: relative;
        left:  45%;
        
    }
    .name img{
        width: 600px;
        height: 600px;
    }
    .conten h1{
       position: relative;
       right: 260px;
       font-size: 30px;
    }
    .conten p{
        position: relative;
        right: 260px;
        font-size: 16px;
     }
    
      #input{
        position: relative;
      right:290px;
      width: 300px;
      }
      .conten .button{
      position:absolute;
      left: 0px;
      right: 0px;
      height: 40px;
      width: 140px;
    }
}

